.modal-menu-vendedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    background-color: #DAFFDE;
    padding: 0.5rem;
    gap: 0.5rem;
    border-radius: 0.5rem;
}

.btn-menu-modal-editar {
    background-color: transparent;
}

.btn-menu-modal-editar > img {
    width: 1.2rem;
    height: 1.2rem;
}

.btn-menu-modal-deletar {
    background-color: transparent;
}

.btn-menu-modal-deletar > img {
    width: 1.5rem;
    height: 1.5rem;
}