.modal-ativacao-vendedor {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 30%;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
}

.text-modal-ativacao {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    font-size: 2rem;
}

.nome-vendedor {    
    color: #4DAB54;
}

.botoes-modal-ativacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.btn-ativacao {
    width: 6rem;
    height: 2rem;
    border-radius: 0.3rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.btn-ativacao:hover {
    cursor: pointer;
}

.btn-chamativo {
    background-color: #4DAB54;
    color: white;
}

.btn-chamativo:hover {
    background-color: #86d08c;
}

.btn-nao-chamativo {
    border: 1px solid #4DAB54;
    background-color: white;
}

.btn-nao-chamativo:hover {
    background-color: #ccf0cf;
}